@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1490 Lavender Ln<br />
    Greenwood, IN 46143<br />
    <abbr title="Phone">P:</abbr>
    317.507.5098
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:andysitter@comcast.net">andysitter@comcast.net</a><br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/andrew-sitter-2a12b384/">Link</a><br />
</address>