
@{
    ViewBag.Title = "Indexes";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<table class="table">
    <tr>
        <th>
            Table Name
        </th>
        <th>
            Quick Links
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            Customers
        </td>
        <td>
            <a href="https://localhost:44349/Customer">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Customer/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Employees
        </td>
        <td>
            <a href="https://localhost:44349/Employee">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Employee/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Ingredients
        </td>
        <td>
            <a href="https://localhost:44349/Ingredient">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Ingredient/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Locations
        </td>
        <td>
            <a href="https://localhost:44349/Location">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Location/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Menu Items
        </td>
        <td>
            <a href="https://localhost:44349/MenuItem">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/MenuItem/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Recipes
        </td>
        <td>
            <a href="https://localhost:44349/Recipe">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Recipe/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Recipe Ingredients
        </td>
        <td>
            <a href="https://localhost:44349/RecipeIngredient">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/RecipeIngredient/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Schdule
        </td>
        <td>
            <a href="https://localhost:44349/Schedule">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Schedule/Create">Create New</a><br />
        </td>
    </tr>

    <tr>
        <td>
            Transactions
        </td>
        <td>
            <a href="https://localhost:44349/Transaction">Full List</a><br />
        </td>
        <td>
            <a href="https://localhost:44349/Transaction/Create">Create New</a><br />
        </td>
    </tr>

</table>