@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodTrucker</h1>
    <p class="lead">FoodTrucker is an app designed to help food truck operators organize their business and maximize profits. Please read the "About" section for more information about the app. Once logged in and ready to go, feel free to click the button below to start entering transactions.</p>
    <p><a href="https://localhost:44349/Transaction/Create" class="btn btn-primary btn-lg">Create a Transaction &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Each transaction needs a Customer. Gather some information from the customer so that we can send them special offers, as well as birthday rewards!</p>
        <p><a class="btn btn-default" href="https://localhost:44349/Customer/Create">Create a Customer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>A food truck is only as good as the people working inside of it. Add your employees' information here so they can start their journey on the truck!</p>
        <p><a class="btn btn-default" href="https://localhost:44349/Employee/Create">Create an Employee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Locations</h2>
        <p>What are the three 'L's of the food truck industry? Location, location, location. Add your locations here and stay ahead of the competition!</p>
        <p><a class="btn btn-default" href="https://localhost:44349/Location/Create">Create a Location &raquo;</a></p>
    </div>
</div>